header{
    background-color: $bgPrimary;
    background-image: url(../images/Giraffe.png);
    // background-repeat: no-repeat;
    // background-position: bottom center;
    // background-size: 160px 195px;
    // padding-bottom: 410px;
    // position: relative;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 140px 195px;
    padding-bottom: 387px;
    position: relative;
}


@media(min-width: 767px) {
    header{
        // background-size: 160px 195px;
        // padding-bottom: 410px;
    background-size: 240px;
    padding-bottom: 387px;
        width: auto;
        height: 320px;
        nav{
            margin: 10px;
        }

    }
}