@charset "UTF-8";
@font-face {
  font-family: "BookmanOldStyle";
  src: url(../fonts/bookmanoldstyle.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "BookmanOldStyle";
  src: url(../fonts/bookmanoldstyle_bold.ttf);
  font-weight: 700;
}
body {
  font-family: BookmanOldStyle;
  color: #000000;
  font-size: 20px;
  background-color: #FCFCFC;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 34px;
  text-align: center;
  margin: 10px;
}

h4 {
  font-size: 26px;
}

section {
  margin: 20px auto;
  padding: 10px 20px;
}

b {
  font-weight: 600;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
}

#btn-consultation {
  width: 198px;
  height: 36px;
  padding: 10px 16px 10px 16px;
  border-radius: 5.45px;
  border: none;
  background-color: #FCFCFC;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

ul {
  counter-reset: numbers;
}
ul li {
  position: relative;
  padding: 20px 0;
  padding-left: 40px;
}
ul li::before {
  counter-increment: numbers;
  content: "0" counter(numbers);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

@media (min-width: 767px) {
  .container {
    max-width: 100%;
    padding: 5px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  body {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
header {
  background-color: #DF803E;
  background-image: url(../images/Giraffe.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 140px 195px;
  padding-bottom: 387px;
  position: relative;
}

@media (min-width: 767px) {
  header {
    background-size: 240px;
    padding-bottom: 450px;
    width: auto;
    height: 320px;
  }
  header nav {
    margin: 10px;
  }
}
nav {
  display: none;
}

.close-menu {
  display: none;
}

.burger_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.burger_btns .logo {
  text-decoration: none;
  color: #000000;
  display: none;
  font-size: 31.52px;
  font-weight: bold;
  margin: 10px;
}
.burger_btns .open-menu {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(../images/icons/open-menu.svg);
  background-color: #DF803E;
  background-repeat: no-repeat;
  background-position: center;
}
.burger_btns.active {
  justify-content: space-between;
}
.burger_btns.active .close-menu,
.burger_btns.active .logo, .burger_btns.active + nav {
  display: block;
}
.burger_btns.active .open-menu {
  display: none;
}
.burger_btns .close-menu {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(../images/icons/close-menu.svg);
  background-color: #DF803E;
  background-repeat: no-repeat;
  background-position: center;
}
.burger_btns + nav {
  display: none;
  background-image: url(../images/Giraffe.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 140px 195px;
  padding-bottom: 349px;
}
.burger_btns + nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000000;
  font-size: 19px;
}

@media (min-width: 767px) {
  .burger_btns {
    display: none;
  }
  .burger_btns + nav, .burger_btns.active + nav {
    display: flex;
    padding-bottom: 0px;
    background-image: none;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
  }
  .contacts {
    display: flex;
  }
  .contacts a.icon {
    width: 40px;
    height: 40px;
    margin-left: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .contacts a.icon.phone {
    background-image: url(../images/icons/телефон.svg);
  }
  .contacts a.icon.location {
    background-image: url(../images/icons/локація.svg);
  }
  .contacts a.icon.email {
    background-image: url(../images/icons/пошта.svg);
  }
}
.direction_works {
  background-color: #DF803E;
  height: 750px;
}
.direction_works b {
  color: #FCFCFC;
}
.direction_works ul {
  counter-reset: numbers;
}
.direction_works ul li {
  position: relative;
  padding: 20px 0;
  padding-left: 40px;
  border-bottom: 1px solid #000;
}
.direction_works ul li::before {
  counter-increment: numbers;
  content: "0" counter(numbers);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

#btn-request {
  margin: 0 auto;
  display: block;
  width: 191px;
  height: 36px;
  padding: 10px 16px 10px 16px;
  border-radius: 5.45px;
  border: 1px solid black;
  background-color: #DF803E;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
}
.overlay .content {
  background-color: #FCFCFC;
  max-width: 550px;
  width: 90%;
  min-height: 465px;
  border-radius: 15%;
  padding: 10px;
  text-align: center;
}

.merits {
  background-color: #FCFCFC;
  height: 640px;
}
.merits b {
  color: #DF803E;
}
.merits .block {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.merits .block .mer {
  border: 1px solid black;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 60px 60px;
  height: 135px;
  width: 140px;
  margin: 15px 4px;
  position: relative;
}
.merits .block .mer p {
  margin-top: 70px;
  text-align: center;
  position: relative;
  font-size: 15px;
}

.calendar {
  background-image: url(../images/merits/calendar.svg);
}

.book {
  background-image: url(../images/merits/book.svg);
}

.teacher {
  background-image: url(../images/merits/teacher.svg);
}

.success {
  background-image: url(../images/merits/success.svg);
}

.handshake {
  background-image: url(../images/merits/handshake.svg);
}

.student {
  background-image: url(../images/merits/graduating-student.svg);
}

@media (min-width: 767px) {
  .merits {
    height: 1100px;
  }
  .merits .block .mer {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    background-size: 200px 200px;
  }
  .merits .block .mer p {
    margin-top: 250px;
    text-align: center;
    position: relative;
    font-size: 20px;
  }
}
@media (min-width: 976px) {
  .merits {
    height: 800px;
  }
}
.traveling .grid {
  margin-left: 5px;
  opacity: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 172px 155px 72px 120px 34px 72px;
  gap: 5px;
}
.traveling .grid img {
  height: 100%;
  width: 100%;
}
.traveling .grid div:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/3;
}
.traveling .grid div:nth-child(4) {
  grid-column: 1/3;
  grid-row: 3/4;
}
.traveling .grid div:nth-child(5) {
  grid-column: 1/2;
  grid-row: 4/6;
}
.traveling .grid div:nth-child(7) {
  grid-column: 1/2;
  grid-row: -1/-2;
}
.traveling .grid div:nth-child(8) {
  grid-column: 2/3;
  grid-row: 5/7;
}

@media (min-width: 767px) {
  .traveling .grid {
    opacity: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 800px;
    margin: 20px;
    gap: 15px;
  }
  .traveling .grid img {
    height: 100%;
    width: 100%;
  }
  .traveling .grid div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 6/11;
  }
  .traveling .grid div:nth-child(2) {
    grid-column: 1/4;
    grid-row: 1/6;
  }
  .traveling .grid div:nth-child(3) {
    grid-column: 8/-1;
    grid-row: 5/9;
  }
  .traveling .grid div:nth-child(4) {
    grid-column: 8/10;
    grid-row: -3/-1;
  }
  .traveling .grid div:nth-child(4) img {
    display: flex;
  }
  .traveling .grid div:nth-child(5) {
    grid-column: 4/-6;
    grid-row: 5/-1;
  }
  .traveling .grid div:nth-child(6) {
    grid-column: -4/-1;
    grid-row: -3/-1;
  }
  .traveling .grid div:nth-child(7) {
    grid-column: 4/9;
    grid-row: 1/5;
  }
  .traveling .grid div:nth-child(8) {
    grid-column: 9/-1;
    grid-row: 1/5;
  }
}
.slide1 {
  height: 350px;
  font-size: 17px;
  padding: 10px;
  margin: 10px;
  background-color: #DF803E;
  border-radius: 3%;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .reviews {
    width: 800px;
    margin: 0 auto;
  }
  .reviews .slide1 {
    padding: 40px;
    height: 200px;
  }
  .reviews .slick-prev {
    left: -70px;
    top: 40%;
    margin-left: 20px;
  }
  .reviews .slick-next {
    right: -70px;
    top: 40%;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    width: 1050px;
    margin: 0 auto;
  }
  .reviews .slide1 {
    padding: 40px;
    height: 200px;
  }
  .reviews .slick-prev {
    left: -70px;
    top: 50%;
  }
  .reviews .slick-next {
    right: -70px;
    top: 50%;
  }
}
footer {
  height: 280px;
  background-color: #DF803E;
  padding-bottom: 30px;
}

.footLogo {
  font-weight: 600;
  text-align: left;
}

.info .imgR {
  display: none;
}

@media (min-width: 767px) {
  .info .imgR {
    display: flex;
    width: 450px;
  }
  .info .imgC {
    display: none;
  }
  .info .space {
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }
  .info .space h3 {
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */